<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="layouts/standard.html :: //head">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- This <head> section is only used for static prototyping purposes.             -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Spring Travel: Spring MVC and Web Flow Reference Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="screen, projection"
          href="../../../styles/blueprint/screen.css" />

    <link rel="stylesheet" type="text/css" media="print"
          href="../../../styles/blueprint/print.css" />

    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" media="screen, projection"
          href="../../../styles/blueprint/ie.css" />
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="screen" href="../../../styles/booking.css" />

</head>

<body th:replace="layouts/standard.html :: body(~{::bodyContent})">

<div th:fragment="bodyContent">

    <div class="span-5">
    
        <h3 th:text="${booking.hotel.name}">The Herb Plaza</h3>
        
        <address th:object="${booking.hotel}">
            <span th:text="*{address}">Thyme Square, 13</span>
            <br />
            <span th:text="*{city}">Icetown</span>, 
            <span th:text="*{state}">North Pole</span>, 
            <span th:text="*{zip}">0W</span>
            <br />
            <span th:text="*{country}">Earth</span>
        </address>

    </div>
    
    <div class="span-12 last">
    
        <form id="confirm" action="#" method="post" th:object="${booking}" th:action="${flowExecutionUrl}">
        
            <fieldset>
            
                <legend>Confirm Booking Details</legend>
                
                <div>
                    <div class="span-3">Check In:</div>
                    <div class="span-8 last">
                        <p th:text="*{checkinDate}">2012-12-21</p>
                    </div>
                </div>
                <div>
                    <div class="span-3">Checkout:</div>
                    <div class="span-8 last">
                        <p th:text="*{checkoutDate}">2012-12-21</p>
                    </div>
                </div>
                <div>
                    <div class="span-3">Number of Nights:</div>
                    <div class="span-8 last">
                        <p th:text="*{nights}">0</p>
                    </div>
                </div>
                <div>
                    <div class="span-3">Total Payment:</div>
                    <div class="span-8 last">
                        <p th:text="*{total}">400.00</p>
                    </div>
                </div>
                <div>
                    <div class="span-3">Credit Card #:</div>
                    <div class="span-8 last">
                        <p th:text="*{creditCard}">1234123412341234</p>
                    </div>
                </div>
                <div>
                    <p>
                        <button type="submit" name="_eventId_confirm">Confirm</button>
                        <button type="submit" name="_eventId_revise" id="revise">Revise</button>
                        <button type="submit" name="_eventId_cancel">Cancel</button>
                    </p>
                    <script type="text/javascript">
                        // <![CDATA[
                        Spring.addDecoration(new Spring.AjaxEventDecoration({elementId:'revise',event:'onclick',formId:'confirm'}));
                        // ]]>
                    </script>
                </div>
                
            </fieldset>
        
        </form>
        
    </div>

</div>

</body>

</html>
