<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">

	<!--
		SPRING ROOT WEB APPLICATION CONTEXT
	-->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- 
		SPRING SECURITY
	-->
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
	 
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <servlet-name>Spring MVC Servlet</servlet-name>
    </filter-mapping>

	<!-- 
		JSF 2 IMPLEMENTATION
	-->

	<!-- Use JSF view templates saved as *.xhtml, for use with Facelets -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<!-- Enables special Facelets debug output during development -->
  	<context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
   		<param-value>Development</param-value>
  	</context-param>
  	
  	<!-- Causes Facelets to refresh templates during development -->
  	<context-param>
  		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
  		<param-value>1</param-value>
  	</context-param>

	<!-- Just here so the JSF implementation can initialize, *not* used at runtime -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Just here so the JSF implementation can initialize -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
    
	<!-- 
		SPRING MVC
	-->

	<servlet>
		<servlet-name>Spring MVC Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>Spring MVC Servlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>commons</param-value>
	</context-param>

	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Spring MVC Servlet</servlet-name>
	</filter-mapping>

  	<!-- 
  		Spring Security Facelets tag library declaration 
  	-->
  	<context-param>
  		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
  		<param-value>/WEB-INF/springsecurity.taglib.xml</param-value>
  	</context-param>

	<!-- 
		DEFAULT PAGE
	-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>	

</web-app>